.topbar{
    background:#23384e;
    color:#ff5a4a;
    text-align:center;
    padding:8px 10px;
    font-size:13px;
    font-weight:600;
}

.header{
    background:#fff;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:12px 40px;
    border-bottom:1px solid #ececec;
    min-height:86px;
}

.logo img{
    width:200px;
}

.search-box{
    flex:1;
    max-width:660px;
    margin:0 35px;
    position:relative;
}

.search-box input{
    width:100%;
    height:46px;
    border:2px solid #ea4b3c;
    border-radius:12px;
    padding:0 55px 0 18px;
    font-size:15px;
}

.search-box button{
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    background:none;
    border:none;
    color:#ea4b3c;
    font-size:22px;
}

.header-icons{
    display:flex;
    gap:28px;
}

.icon-item{
    display:flex;
    flex-direction:column;
    align-items:center;
    color:#ea4b3c;
    gap:5px;
}

.icon-item i{
    font-size:23px;
}

.icon-item span{
    font-size:13px;
    font-weight:700;
}

.menu{
    background:#fff;
    display:flex;
    justify-content:center;
    gap:45px;
    padding:15px;
    border-bottom:1px solid #ececec;
}

.menu a{
    color:#ea4b3c;
    text-decoration:none;
    font-size:17px;
}
@media(max-width:768px){

    .header{
        display:grid;
        grid-template-columns:60px 1fr 60px;
        grid-template-areas:
        "menu logo cart"
        "search search search";
        gap:15px;
        padding:15px;
        min-height:auto;
    }

    .mobile-menu-btn{
        grid-area:menu;
        display:flex;
        align-items:center;
        justify-content:center;
        position:static;
        transform:none;
        font-size:40px;
        color:#ea4b3c;
    }

    .logo{
        grid-area:logo;
        display:flex;
        justify-content:center;
    }

    .logo img{
        width:180px;
    }

    .header-icons{
        grid-area:cart;
        display:flex;
        justify-content:flex-end;
        position:static;
        transform:none;
    }

    .header-icons .icon-item:not(:last-child){
        display:none;
    }

    .icon-item span{
        display:none;
    }

    .icon-item i{
        font-size:36px;
    }

    .search-box{
        grid-area:search;
        width:100%;
        max-width:none;
        margin:0;
    }

    .search-box input{
        width:100%;
        height:54px;
        font-size:18px;
    }

    .menu{
        display:none;
    }
}
.mobile-menu{
    display:none;
}

@media(max-width:768px){

    .mobile-menu{
        display:flex;
        flex-direction:column;
        background:#fff;

        max-height:0;
        overflow:hidden;

        transition:.35s ease;
    }

    .mobile-menu.active{
        max-height:400px;
    }

    .mobile-menu a{
        padding:18px 20px;
        border-bottom:1px solid #ececec;
        text-decoration:none;
        color:#ea4b3c;
        font-size:18px;
    }
}